name: Deploy to ubuntu Server

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 코드 체크아웃
      - name: Checkout repository
        uses: actions/checkout@v2

      # JDK 17 설정
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: '17'

      # gradle 권한 부여
      - name: Setup gradlew permissions
        run: chmod +x ./gradlew

      # gradle build
      - name: Build with Gradle
        run: ./gradlew build

      # SSH 키 설정
      - name: Set SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      # known_hosts 등록
      - name: Add known_hosts
        run: |
          ssh-keyscan -H 15.164.164.157 >> ~/.ssh/known_hosts

      # 파일 전송
      - name: Deploy to Server with rsync
        run: |
          rsync -avz -e "ssh -o StrictHostKeyChecking=no" \
          build/libs/*.war ubuntu@15.164.164.157:~/app/

      # 서버에서 실행
      - name: Run SSH commands
        run: |
          ssh ubuntu@15.164.164.157 << 'EOF'
          pkill -f SpringBootLastProject || true
          nohup java -jar ~/app/SpringBootLastProject-0.0.1-SNAPSHOT.war > log.txt 2>&1 &
          EOF
